/* *{
    font-family: "Helvetica Neue";
} */

/* body{
    background:  lightgray;
} */

.outer-div{
    max-width: 80vw;
    margin:auto;
    padding: 20px;
    background: white;

}

.grouped-label-class-horizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:10px;
}

.grouped-label-class{
    display: flex;
    align-items: center;
    padding:10px;
}

.grouped-label-class *{
    margin-left: 10px;
}

.grouped-label-class h4{
    min-width: 20vw;
    font-weight: bold;
}

.standard-gen-ip{
    max-height: 10px;
    border: solid black;
    padding: 10px;
}

.markdown-view{
    border: solid orangered;
    padding: 20px;
    margin: 20px;
    background-color: lightskyblue;
}


.tab {
    color: black;
    background-color: white !important;
    /*font-weight: bold;*/
}

.tab--selected{
    background-color: darkred !important;
    color: white; !important;
}

.tab--selected span{
    color: white; !important;
}

.g-gtitle{
    margin-left: 100px;
    /* font-family: "Helvetica Neue"; */
}

.code-markdown-view{
    border: solid black;
    padding: 20px;
    margin: 20px;
    background-color: lightgray;
    max-width: 60vw;
    align-self: center;
}

.graphs-and-sliders{
    display: flex;
    flex-direction: row;
}

.grouped-sliders{
    display: flex;
    flex-direction: column;
    min-width: 40vw;
    max-height: 10vh;
    /*justify-content: center;*/
}

.grouped-graphs{
    display: flex;
    min-width: 40vw;
    justify-content: flex-start;
    flex-direction: column;
}

.row-pane{
    display: flex;
    flex-direction: row;
}


.btn-download{
    margin-left: 50px;
    border: solid black;
    padding: 20px;
}
.btn-download:hover{
    cursor: pointer;
}

/* vertical tab */